<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

  <properties resource="jdbc.properties"></properties>
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <!--
            加载策略是发生在关系映射上是生效
           并且是通过调用关系映射的查询语句
           lazyLoadingEnabled
           立即加载和延迟
        -->
        <setting name="lazyLoadingEnabled" value="true"/>
    </settings>
    <typeAliases>
      <!--  <typeAlias type="com.seecen.entity.User" alias="_user"></typeAlias>-->
        <package name="com.seecen.entity"></package>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mapper/userMapper.xml"/>
      <!--  <mapper class="com.seecen.dao.UserDao"/>-->
        <mapper resource="mapper/studentMapper.xml"/>
        <mapper resource="mapper/courseMapper.xml"/>
        <mapper resource="mapper/courseMapper2.xml"/>
        <mapper resource="mapper/teacherMapper.xml"/>
    </mappers>
</configuration>